.spinner-border {
  height: 25px;
  width: 25px;
  margin-top: 13px;
}

.extra-margin-right {
  @media (max-width: 380px) {
    margin-left: -10px;
  }
}

tr, td, th {
  border: 0px;
  padding-top: 0.65rem;
  padding-bottom: 0.6rem;
  padding-right: 2rem;
  .widget &.widget {
    padding-right: 1rem;
    @media (max-width: 510px) {
      padding-right: 0.5rem;
    }
  }
}

.clear-link {
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.progress {
  background-color: var(--secondary);
}

.address {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
.address.widget {
  width: 60%;
}

.amount {
  width: 25%;
}
.amount.widget {
  width: 40%;
}
.fee-estimation-container {
  display: flex;
  margin-bottom: 10px;

  .item {
    max-width: 300px;
    margin: 0;

    @media (min-width: 376px) {
      margin: 0 auto 0px;
    }

    .card-text {
      font-size: 22px;

      span {
        font-size: 11px;
        position: relative;
        top: -2px;
      }

      .skeleton-loader {
        width: 100%;
        display: block;
        min-width: 90px;
        margin: 15px auto 3px;
      }

    }

    .card-text span {
      color: var(--transparent-fg);
      font-size: 12px;
      top: 0px;
    }

    .fee-text {
      width: fit-content;
      margin: auto;
      line-height: 1.45;
    }
  }
}
